name: Build rockchip main
on:
   workflow_dispatch:
jobs:
    build:
        name: Build rockchip main
        runs-on: ubuntu-latest
        steps:
            - name: Setup Ubuntu
              run: |
                sudo apt update
                sudo apt install -y python3 python3-pip python3-ply python3-distutils python3-pyelftools libpython3-dev swig
            - name: Maximize build space
              uses: AdityaGarg8/remove-unwanted-software@master
              with:
                remove-dotnet: 'true'
                remove-android: 'true'
                remove-haskell: 'true'
                remove-codeql: 'true'
                remove-docker-images: 'true'
                remove-large-packages: 'true'
                remove-cached-tools: 'true'
                remove-swapfile: 'true'
            - name: checkout
              uses: actions/checkout@v4
            - name: Build
              run: |
                git clone https://github.com/openwrt/openwrt.git
                cd openwrt
                sed -i '/# CONFIG_FORTIFY_SOURCE is not set/d' target/linux/rockchip/armv8/config-6.6
                wget https://downloads.openwrt.org/snapshots/targets/rockchip/armv8/llvm-bpf-18.1.7.Linux-x86_64.tar.zst
                tar -xvf llvm-bpf-18.1.7.Linux-x86_64.tar.zst
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                wget https://mirror-03.infra.openwrt.org/snapshots/targets/rockchip/armv8/config.buildinfo -O .config
                echo "CONFIG_PACKAGE_luci=y" >> .config
                echo "CONFIG_PACKAGE_kmod-usb-net-rtl8152=y" >> .config
                echo "CONFIG_BUILD_LOG=y" >> .config
                echo "CONFIG_USE_LLVM_PREBUILT=y" >> .config
                echo "# CONFIG_BPF_TOOLCHAIN_BUILD_LLVM is not set" >> .config
                echo "CONFIG_BPF_TOOLCHAIN_PREBUILT=y" >> .config
                echo "# CONFIG_COLLECT_KERNEL_DEBUG is not set" >> .config
                echo "# CONFIG_MAKE_TOOLCHAIN is not set" >> .config
                echo "# CONFIG_SDK is not set" >> .config
                echo "CONFIG_TARGET_ROOTFS_PARTSIZE=1040" >> .config
                make defconfig
                make download -j32
                make -j$(nproc) 'IGNORE_ERRORS=n m' || true
                tar -czvf bin/targets/rockchip/armv8/packages.tar.gz bin/targets/rockchip/armv8/packages || true
                tar -czvf bin/targets/rockchip/armv8/logs.tar.gz logs
                rm -rf bin/targets/rockchip/armv8/packages
                echo "D=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
            - name: Delete tag
              uses: ClementTsang/delete-tag-and-release@v0.4.0
              with:
                delete_release: true
                tag_name: rockchip-main
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@v1.14.0
              with:
                allowUpdates: true
                name: Rockchip Main Firmware Images ${{ env.D }}
                tag: rockchip-main
                replacesArtifacts: true
                makeLatest: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/rockchip/armv8/*

